body{
    margin: 0 !important;
    border: 10px solid transparent;
    border-image-source: url('../../assets/border-full.png');
    border-image-repeat: round;
    border-image-slice: 30;
    border-image-width: 40px;
    position: absolute;
}
.topImage{
    text-align: center;
    z-index: 9;
}
.topImage img{
    position: absolute;
    top: -2%;
    left: 2%;
    width: 95%;
    z-index: -1;
}
.topImageTextPosition{
    position: absolute;
    top: 3%;
    left: 50%;
    width: 45%;
    text-align: left;
}
.topImage span{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 0;
    color: #0674BB;
}
.topImage p:nth-child(1){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    color: #A74276;
}
.topImage p:nth-child(2){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 0;
    color: #0674BB;
}
#canvas{
    width: 100%;
    margin-bottom: 10%;
    position: relative;
    z-index: -2;
}
.circularBackgroundImage{
    text-align: center;
    width: 100%;
}
.circularBackgroundImage img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 28%;
    z-index: -1;
}

.titleTextHeader{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    z-index: 9;
    position: relative;
}
.titleTextHeader p:nth-child(1){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 2.5px;
    line-height: 58px;
    color: #A84577;
}
.titleTextHeader p:nth-child(2){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 35px;
    color: #29292B;
}
.popularPackage{
    text-align: center;
    margin-top: 7%;
}
.popularPackage p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 10px;
    line-height: 25px;
    color: #2A7691;
    text-transform: uppercase;
}
.packagesCart{
    width: 25%;
    height: auto;
    padding: 5%;
    box-shadow: 0px 1px 35px #cccccc;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    position: relative;
    left: 12%;
    margin-top: 4%;
    margin-right: 7%;
    display: inline-block;
}
.packagesCart p:nth-child(1){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 50px;
    color: #A84577;
    text-transform: uppercase;
}
.packagesCart p:nth-child(2){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 35px;
    color: #2A7691;
}
.packagesCart p:nth-child(3),.packagesCart p:nth-child(4){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 31px;
    color: #A84577;
}
.packagesCart button{
    width: 150px;
    height: 50px;
    background-color: #82CA9C;
    border-radius: 50px;
    margin-top: 7%;
    border-style: unset;
}
.packagesCart button p{
    font-size: 15px !important;
    color: white !important;
    line-height: 0px !important;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
}
.packagesCart button p:after{
    margin-left: 12%;
    content: '→ ';
}
.giftPolicy{
    width: 747px;
    margin: 0 auto;
    position: relative;
    height: 95px;
    background-color: #E6E6E6;
    border-radius: 5px;
    margin-top: 10%;
}
.giftPolicy p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: #2A7691;
    padding-top: 2%;
    padding-left: 5%;
    display: inline-block;
}
.giftPolicy button{
    width: 175px;
    height: 50px;
    background-color: #2A7691;
    border-radius: 50px;
    margin-left: 2%;
    border-style: unset;
}
.giftPolicy button p{
    font-size: 15px !important;
    color: white !important;
    line-height: 0px !important;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
}
.giftPolicy button p:after{
    margin-left: 10%;
    content: '→ ';
}
.footer{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4%;
}
.footerContext{
    margin-left: 6%;
}
.termsAndConditions{
    text-align: left !important;
    width: 25%;
    display: inline-block;
}
.termsAndConditions img{
    float: left;
    margin-right: 4%;
}
.termsAndConditions p:nth-child(1){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2A7691;
}
.termsAndConditions p:nth-child(3){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 35px;
    color: #2A7691;
    text-align: left;
}
.termsAndConditions p:nth-child(4){
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 35px;
    color: #2A7691;
    margin-top: -10%;
}
.addressAndEmail{
    text-align: left !important;
    width: 25%;
    display: inline-block;
    margin-left: 3%;
}
.addressAndEmail p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    color: #2A7691;
}
.copyrights{
    text-align: left !important;
    width: 25%;
    display: inline-block;
    margin-left: 3%;
}
.copyrights p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 22px;
    color: #2A7691;
}
.copyrights img{
    margin-right: 3%;
}
.websiteDetails p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 34px;
    color: #BCB4BE;
}
hr{
    border: 1px solid #f7f7f7 !important;
}


/* Media Queries start*/

@media (min-width: 1367px) {
    body{
        width: 56%;
        left: 22%;

    }
    .topImage img{
        width: 97%;
        left: 1%;
        top: -1%;
    }
    .topImageTextPosition{
        top: 1%;
    }
    .topImage p:nth-child(1) {
        font-size: 20px;
        line-height: 1;
    }
    .topImage span {
        font-size: 24px;
        line-height: 1;
    }
    .topImage p:nth-child(2) {
        font-size: 20px;
        line-height: 1;
    }
    .titleTextHeader{
        width: 90%;
    }
    .footer{
        width: 80%;
    }

    .termsAndConditions {
        width: 30%;
    }
    .termsAndConditions p:nth-child(1) {
        font-size: 18px;
        line-height: 2;
    }
    .termsAndConditions img {
        height: 30px;
    }
    .termsAndConditions p:nth-child(3) {
        font-size: 16px;
        line-height: 2;
    }
    .termsAndConditions p:nth-child(4) {
        font-size: 12px;
    }

    .addressAndEmail {
        width: 30%;
    }
    .addressAndEmail p {
        font-size: 12px;
        line-height: 1.5;
    }
    .copyrights {
        width: 30%;
    }
    .copyrights img {
        height: 20px;
    }
    .copyrights p {
        font-size: 12px;
    }
}
@media (min-width: 200px) and (max-width: 480px) {
    .circularBackgroundImage img{
        top: 9%;
    }
    .topImageTextPosition {
        top: 15px;
        left: 57%;
        width: 40%;
    }
    .topImage img {
        position: absolute;
        top: -1px;
        left: 3%;
        width: 95%;
        z-index: -1;
    }
    .topImage p:nth-child(1) {
        font-size: 10px;
        line-height: 1;
    }
    .topImage span {
        font-size: 12px;
        line-height: 1;
    }
    .topImage p:nth-child(2) {
        font-size: 10px;
        line-height: 1;
    }
    .titleTextHeader{
        width: 90%;
    }
    .titleTextHeader p:nth-child(1) {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 21px;
    }
    .titleTextHeader p:nth-child(2) {
        font-size: 12px;
        line-height: 20px;
    }
    .popularPackage p {
        font-size: 12px;
        letter-spacing: 7px;
        line-height: 25px;
    }
    .packagesCart button {
        width: 120px;
        height: 35px;
    }
    .packagesCart button p {
        font-size: 11px !important;
    }
    .packagesCart{
        width: 90%;
        height: auto;
        left: 5%;
        padding: 0;
        padding-bottom: 5% !important;
    }
    .packagesCart p:nth-child(1){
        font-size: 16px;
        line-height: 40px;
    }
    .packagesCart p:nth-child(2){
        font-size: 12px;
        line-height: 25px;
    }
    .packagesCart p:nth-child(3), .packagesCart p:nth-child(4){
        font-size: 14px;
        line-height: 25px;
    }
    .giftPolicy{
        width: 90%;
        height: 150px;
        text-align: center;
    }
    .giftPolicy p{
        font-size: 12px;
        line-height: 2;
        text-align: center;
        padding: 3%;
    }
    .giftPolicy button{
        width: 135px;
        height: 35px;
        margin-left: 0;
    }
    .giftPolicy button p{
        font-size: 12px !important;
    }
    .footerContext{
        margin-left: 0;
    }
    .termsAndConditions {
        text-align: center !important;
        width: 100%;
    }
    .termsAndConditions p:nth-child(1) {
        font-size: 18px;
        line-height: 10px;
    }
    .termsAndConditions img {
        float: none;
        margin-right: 0;
        height: 30px;
    }
    .termsAndConditions p:nth-child(3) {
        font-size: 16px;
        line-height: 1;
        text-align: center;
    }
    .termsAndConditions p:nth-child(4) {
        font-size: 12px;
        line-height: 40px;
        margin-top: -5%;
    }
    .addressAndEmail {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .addressAndEmail p {
        font-size: 12px;
        line-height: 18px;
    }
    .copyrights {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .copyrights img {
        width: 10px;
        height: 17px;
    }
    .copyrights p {
        font-size: 12px;
        line-height: 18px;
    }
    .websiteDetails p {
        font-size: 10px;
        line-height: 30px;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .circularBackgroundImage img{
        top: 12%;
    }
    .topImageTextPosition {
        top: 25px;
        left: 57%;
        width: 40%;
    }
    .topImage img {
        position: absolute;
        top: -4px;
        left: 3%;
        width: 95%;
        z-index: -1;
    }
    .topImage p:nth-child(1) {
        font-size: 12px;
        line-height: 1;
    }
    .topImage span {
        font-size: 14px;
        line-height: 1;
    }
    .topImage p:nth-child(2) {
        font-size: 12px;
        line-height: 1;
    }
    .titleTextHeader{
        width: 90%;
    }
    .titleTextHeader p:nth-child(1) {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 21px;
    }
    .titleTextHeader p:nth-child(2) {
        font-size: 12px;
        line-height: 20px;
    }
    .popularPackage p {
        font-size: 15px;
        letter-spacing: 7px;
        line-height: 25px;
    }
    .packagesCart button {
        width: 120px;
        height: 35px;
    }
    .packagesCart button p {
        font-size: 11px !important;
    }
    .packagesCart{
        width: 90%;
        height: auto;
        left: 5%;
        padding: 0;
        padding-bottom: 5% !important;
    }
    .packagesCart p:nth-child(1){
        font-size: 16px;
        line-height: 40px;
    }
    .packagesCart p:nth-child(2){
        font-size: 12px;
        line-height: 25px;
    }
    .packagesCart p:nth-child(3), .packagesCart p:nth-child(4){
        font-size: 14px;
        line-height: 25px;
    }

    .footerContext{
        margin-left: 0;
    }
    .termsAndConditions {
        text-align: center !important;
        width: 100%;
    }
    .termsAndConditions p:nth-child(1) {
        font-size: 18px;
        line-height: 10px;
    }
    .termsAndConditions img {
        float: none;
        margin-right: 0;
        height: 30px;
    }
    .termsAndConditions p:nth-child(3) {
        font-size: 16px;
        line-height: 1;
        text-align: center;
    }
    .termsAndConditions p:nth-child(4) {
        font-size: 12px;
        line-height: 40px;
        margin-top: -5%;
    }
    .addressAndEmail {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .addressAndEmail p {
        font-size: 12px;
        line-height: 18px;
    }
    .copyrights {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .copyrights img {
        width: 10px;
        height: 17px;
    }
    .copyrights p {
        font-size: 12px;
        line-height: 18px;
    }
    .websiteDetails p {
        font-size: 10px;
        line-height: 30px;
    }
}
@media (min-width: 481px) and (max-width: 600px) {
    .circularBackgroundImage img{
        top: 12%;
    }
    .giftPolicy{
        width: 90%;
        height: 150px;
        text-align: center;
    }
    .giftPolicy p{
        font-size: 12px;
        line-height: 2;
        text-align: center;
        padding: 3%;
    }
    .giftPolicy button{
        width: 135px;
        height: 35px;
        margin-left: 0;
    }
    .giftPolicy button p{
        font-size: 12px !important;
    }
}
@media (min-width: 601px) and (max-width: 640px) {
    .circularBackgroundImage img{
        top: 12%;
    }
    .giftPolicy{
        width: 90%;
        height: 90px;
        text-align: center;
        padding: 2%;
    }
    .giftPolicy p{
        font-size: 12px;
        line-height: 3;
        text-align: center;
        padding-left: 0;
    }
    .giftPolicy button{
        width: 135px;
        height: 35px;
        margin-left: 10px;
    }
    .giftPolicy button p{
        font-size: 12px !important;
    }
}
@media (min-width: 641px) and (max-width: 768px) {
    .circularBackgroundImage img{
        top: 15%;
    }
    .topImageTextPosition {
        top: 35px;
        left: 52%;
        width: 45%;
    }
    .topImage img {
        position: absolute;
        top: -10px;
        left: 3%;
        width: 95%;
        z-index: -1;
    }
    .topImage p:nth-child(1) {
        font-size: 12px;
        line-height: 1;
    }
    .topImage span {
        font-size: 14px;
        line-height: 1;
    }
    .topImage p:nth-child(2) {
        font-size: 12px;
        line-height: 1;
    }
    .titleTextHeader {
        width: 90%;
    }
    .titleTextHeader p:nth-child(1) {
        line-height: 50px;
    }
    .packagesCart{
        width: 80%;
        left: 10%;
        padding-bottom: 5%!important;
        padding: 0;
    }
    .giftPolicy{
        width: 90%;
        height: 90px;
        text-align: center;
        padding: 2%;
    }
    .giftPolicy p{
        font-size: 14px;
        line-height: 3;
        text-align: center;
        padding-left: 0;
    }
    .giftPolicy button{
        width: 135px;
        height: 40px;
        margin-left: 10px;
    }
    .giftPolicy button p{
        font-size: 14px !important;
    }
    .footerContext{
        margin-left: 0;
    }
    .termsAndConditions {
        text-align: center !important;
        width: 100%;
    }
    .termsAndConditions p:nth-child(1) {
        font-size: 20px;
        line-height: 10px;
    }
    .termsAndConditions img {
        float: none;
        margin-right: 0;
        height: 35px;
    }
    .termsAndConditions p:nth-child(3) {
        font-size: 18px;
        line-height: 1;
        text-align: center;
    }
    .termsAndConditions p:nth-child(4) {
        font-size: 18px;
        line-height: 40px;
        margin-top: -3%;
    }
    .addressAndEmail {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .addressAndEmail p {
        font-size: 14px;
        line-height: 18px;
    }
    .copyrights {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .copyrights img {
        width: 10px;
        height: 17px;
    }
    .copyrights p {
        font-size: 14px;
        line-height: 18px;
    }
    .websiteDetails p {
        font-size: 12px;
        line-height: 30px;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    .circularBackgroundImage img{
        top: 20%;
    }
    .topImageTextPosition {
        top: 35px;
        left: 52%;
        width: 45%;
    }
    .topImage img {
        position: absolute;
        top: -10px;
        left: 3%;
        width: 95%;
        z-index: -1;
    }
    .topImage p:nth-child(1) {
        font-size: 16px;
        line-height: 1;
    }
    .topImage span {
        font-size: 18px;
        line-height: 1;
    }
    .topImage p:nth-child(2) {
        font-size: 16px;
        line-height: 1;
    }
    .titleTextHeader{
        width: 90%;
    }
    .packagesCart {
        width: 25%;
        height: auto;
        padding: 5%;
    }
    .giftPolicy{
        width: 90%;
        height: 90px;
        text-align: center;
        padding: 2%;
    }
    .giftPolicy p{
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        padding-left: 0;
    }
    .giftPolicy button{
        width: 150px;
        height: 50px;
        margin-left: 20px;
    }
    .giftPolicy button p{
        font-size: 16px !important;
        line-height: 1 !important;
    }

}
@media (min-width: 769px) and (max-width: 920px){
    .footerContext{
        margin-left: 0;
    }
    .termsAndConditions {
        text-align: center !important;
        width: 100%;
    }
    .termsAndConditions p:nth-child(1) {
        font-size: 20px;
        line-height: 10px;
    }
    .termsAndConditions img {
        float: none;
        margin-right: 0;
        height: 35px;
    }
    .termsAndConditions p:nth-child(3) {
        font-size: 18px;
        line-height: 1;
        text-align: center;
    }
    .termsAndConditions p:nth-child(4) {
        font-size: 18px;
        line-height: 40px;
        margin-top: -3%;
    }
    .addressAndEmail {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .addressAndEmail p {
        font-size: 14px;
        line-height: 18px;
    }
    .copyrights {
        text-align: center !important;
        width: 100%;
        margin-left: 0;
    }
    .copyrights img {
        width: 10px;
        height: 17px;
    }
    .copyrights p {
        font-size: 14px;
        line-height: 18px;
    }
    .websiteDetails p {
        font-size: 12px;
        line-height: 30px;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .circularBackgroundImage img{
        top: 25%;
    }
    .topImageTextPosition {
        top: 50px;
        left: 50%;
        width: 50%;
    }
    .topImage img {
        position: absolute;
        top: -15px;
        left: 2%;
        width: 95%;
        z-index: -1;
    }
    .topImage p:nth-child(1) {
        font-size: 18px;
        line-height: 1;
    }
    .topImage span {
        font-size: 20px;
        line-height: 1;
    }
    .topImage p:nth-child(2) {
        font-size: 18px;
        line-height: 1;
    }
    .titleTextHeader{
        width: 90%;
    }

}
@media (min-width: 921px) and (max-width: 1200px) {
    .footer{
        width: 80%;
    }

    .termsAndConditions {
        width: 30%;
    }
    .termsAndConditions p:nth-child(1) {
        font-size: 18px;
        line-height: 2;
    }
    .termsAndConditions img {
        height: 30px;
    }
    .termsAndConditions p:nth-child(3) {
        font-size: 16px;
        line-height: 1;
    }
    .termsAndConditions p:nth-child(4) {
        font-size: 12px;
    }

    .addressAndEmail {
        width: 30%;
    }
    .addressAndEmail p {
        font-size: 12px;
        line-height: 1.5;
    }
    .copyrights {
        width: 30%;
    }
    .copyrights img {
        height: 20px;
    }
    .copyrights p {
        font-size: 12px;
    }
}
@media (min-width: 1201px) and (max-width: 1365px){
    .titleTextHeader{
        width: 90%;
    }
}
/* Media Queries end*/

/*
As I don't have any mobile design PSD file I used my visuals into it. Also the assets were breaking when I try to fit them anything above 1366px so I made the whole page center and smaller when screen is above 1366px of width.

*/
